@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: 'Poppins', sans-serif;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
	height: 100vh;
}

main {
	width: 100%;
	background-color: rgb(36, 24, 199);
}

.attribution {
	color: orange;
	font-size: 11px; text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}